body{ font-family: 'Philosopher'; }

.section { position: relative; margin: 0 auto; }

.container {
	text-align: center;
	padding: 1em 0;
	background-color: #A08689;
}

.container.header {
/* 	text-align: left !important; */
}

#logo {
	width: 70%;
	max-width: 500px;
	height: auto;
	position: relative;
	left: 2em;
}

/* Tip of the day  */

.tip {
	margin: 1em auto;
	width: 60%;
	list-style: none;
}

.tip>li {
	display: inline-block;
	margin: 0 0 15px 0;
	padding: 2px 0;
	color: white;
	letter-spacing: 5px;
}

.tip .title {
	width: 100%;
	margin: 0;
	
	font-size: 40px;
	color: orange;
	
	border-bottom: 1px solid #CDB599;
	text-shadow: 0 0 5px #222;
	letter-spacing: 8px;
}

.tip .category { margin-right: 30px; }

/* Body Content */

.body_content { height: 400px; }

.extend { 
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.extend>div {
	position: absolute;
	width: 80%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.content>p {
	font-size: larger;
	font-weight: 100;
	letter-spacing: 5px;
	background-color: rgba(0,0,0,0.38);
	color: #ccc;
}

/* Tip Of The Day */

.control {
	list-style: none;
	margin: 0;
}

.control>li {
	display: inline-block;
	width: 47px;
	height: 47px;
	margin: 0;
}

#tip_of_the_day { display: block; font-size: 3vw; }

#dislike { background: url('../../static/img/thumbsdown_icon.png'); }
#favorite { background: url('../../static/img/fav_icon.png'); }
#like { background: url('../../static/img/thumbsup_icon.png'); }

#dislike:hover, #favorite:hover, #like:hover { cursor: pointer; }

#dislike:hover { background: url('../../static/img/thumbsdown_iconS.png'); }
#favorite:hover { background: url('../../static/img/fav_iconS.png'); }
#like:hover { background: url('../../static/img/thumbsup_iconS.png'); }

/* Add tips */

.addtips {
	z-index: 5;
	right: 95% !important;
	background-color: #CDB599;
	transition: right 1s, border-radius 1s;
}

.addtips:hover {
	right: 10% !important;
	border-radius: 90px;
}

/* Favorites */

.favorites {
	left: 10%;
	background-color: #D5544F;
}

/* My Tips & Favorites */

.mytips {
	left: 95% !important;
	background-color: #CDB599;
	transition: left 1s, z-index 2s, border-radius 1s;
}

.mytips:hover {
	left: 10% !important;
	border-radius: 90px;
}

.mytips>ul, .favorites>ul {
	width: 80%;
	margin: 0 auto;
	
	list-style: none;
	padding: 1em 2em;
	
	text-align: left;
}

.mytips>ul { box-shadow: inset 0 0 15px #CDB599; }
.favorites>ul { box-shadow: inset 0 0 15px #D5544F; }

.mytips>ul:nth-child(odd),
.favorites>ul:nth-child(odd) { background-color: rgba(0,0,0,0.11)}

.mytips ul li:nth-child(1),
.favorites ul li:nth-child(1) {
	font-size: larger;
	font-weight: bold;
}

.mytips ul li:nth-child(2),
.favorites ul li:nth-child(2) {
	font-weight: 100;
	font-size: smaller;
}

.mytips ul li:nth-child(3),
.favorites ul li:nth-child(3) {
	margin-top: 5px;
}

.rate {
	position: absolute;
	right: 5em;
	
	font-size: medium;
}

#nottips, #nofavs { font-size: 30px; }

/* Settings */

.settings {
	display: none;

	position: absolute;
	top: 1em;
	right: 1em;

	width: 400px;
	padding-bottom: 10px;
	
	box-shadow: 0 0 10px #222;
	background-color: #CDB599;
	
	text-align: center;
	
	opacity: .99;
	z-index: 2000;
}

body {
	background-color: rgba(52,52,52,0.97);
}

#settings {
	display: inline-block;
	cursor: pointer;
}

#current_settings {
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
}

#logo {
	width: 80%;
	height: auto;
}