#add_tip_form li {
	list-style: none;
	margin: 5px;
}

#add_tip_form label { display: none; }

#add_tip_form li:nth-child(2),
#add_tip_form li:nth-child(3) {
	display: inline-block;
	width: 42.5%;
}

#add_tip_form select {
	width: 100%;
	height: 1.5em;
	
	font-size: 15px;
	font-family: 'Philosopher';
	text-align: center;
}

#add_tip_form input,
#add_tip_form textarea {
	width: 85%;
	padding: 10px 10px;
	font-size: 20px;
	font-family: 'Philosopher';
	background-color: #CDB599;
	
	border: none;
}

#add_tip_form input:hover,
#add_tip_form textarea:hover {
	background-color: #e6ccae;
}

#add_tip_form input { border-bottom: 2px solid white;}

#add_tip_form textarea {
	height: 150px;
	resize: none;
}

/* Button */

#add_tip_form button {
	width: 80%;
	height: 2em;
	
	border: 1px solid #888;
	background-color: #CDB599;
	
	font-size: 13px;
	font-family: 'Philosopher';
	
	border-radius: 10px;
}

#add_tip_form button:hover {
	border: none;
	color: white;
	background-color: #D5544F;
	background: linear-gradient(#D5544F, #b23f3b);
	
	cursor: pointer;
}

/* Settings */

.settings { list-style: none; }

.settings > p {
	font-size: larger;
	font-weight: 100;
	letter-spacing: 5px;
	background-color: rgba(0,0,0,0.38);
	color: #ccc;
}

.settings form label { margin-bottom: 5px; }

.settings form > li + li { margin-top: 10px; }

.settings label { display: block; }

.settings span {
	display: block;
	max-width: 78%;
	margin: 10px auto;
	opacity: .5;
	font-size: small;
}

#id_categories { width: 80%; text-align: center; }

.settings button {
	width: 80%;
	height: 2em;
	
	border: 1px solid #888;
	background-color: #CDB599;
	
	font-size: 13px;
	font-family: 'Philosopher';
	
	border-radius: 10px;
}

.settings button:hover {
	border: none;
	color: white;
	background-color: #D5544F;
	background: linear-gradient(#D5544F, #b23f3b);
	
	cursor: pointer;
}