body{ font-family: 'Philosopher'; }

.section { margin: 0 auto; }

.container {
	text-align: center;
	padding: 1em 0;
	background-color: #A08689;
	
	border: 1px solid orange;
}

.tip {
	margin: 1em auto;
	width: 60%;
}

/* Body Content */

.body_content { height: 400px; }

.extend { 
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.extend>div {
	position: absolute;
	width: 80%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Tip Of The Day */

.control {
	list-style: none;
	margin: 0;
}

.control>li {
	display: inline-block;
	width: 47px;
	height: 47px;
	margin: 0;
}

#dislike { background: url('../../static/img/thumbsdown_icon.png'); }
#favorite { background: url('../../static/img/fav_icon.png'); }
#like { background: url('../../static/img/thumbsup_icon.png'); }

#dislike:hover, #favorite:hover, #like:hover { cursor: pointer; }

#dislike:hover { background: url('../../static/img/thumbsdown_iconS.png'); }
#favorite:hover { background: url('../../static/img/fav_iconS.png'); }
#like:hover { background: url('../../static/img/thumbsup_iconS.png'); }

/* Add tips */

.addtips {
	z-index: 5;
	right: 95% !important;
	background-color: #CDB599;
	transition: right 1s, border-radius 1s;
}

.addtips:hover {
	right: 10% !important;
	border-radius: 90px;
}

/* Favorites */

.favorites {
	left: 10%;
	background-color: #D5544F;
}

/* My Tips */

.mytips {
	left: 95% !important;
	background-color: #CDB599;
	transition: left 1s, z-index 2s, border-radius 1s;
}

.mytips:hover {
	left: 10% !important;
	border-radius: 90px;
}

.mytips>ul {
	width: 80%;
	margin: 0 auto;
	
	list-style: none;
	padding: 1em 2em;
	
	text-align: left;
	box-shadow: inset 0 0 15px #CDB599;
}

.mytips>ul:nth-child(odd) { background-color: rgba(0,0,0,0.11)}

.mytips ul li:nth-child(1) {
	font-size: larger;
	font-weight: bold;
}

.mytips ul li:nth-child(2) {
	font-weight: 100;
	font-size: smaller;
}

.mytips ul li:nth-child(3) {
	margin-top: 5px;
}

#nottips { font-size: 30px; }