form {
	width: 400px;
	margin: 0 auto;
	
	background-color: rgba(162,162,162,0.73);
}

form label { display: none; }
form input {
	width: 90%; 
	height: 2em;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px 5px;
	
	border: 1px solid #888;
	background-color: rgba(256, 256, 256, .70);
}

form input:hover { border-color: black; }

form li {
	list-style: none;
    margin: 5px;
}

form>div {
	padding: 1em;
}

/* Button formatting */

form button {
	width: 93.2%;
	height: 2em;
	
	border: 1px solid #888;
	background-color: #DDD;
	
	font-size: 13px;
}

form button:hover {
	border-color: black;
	background-color: rgba(102,178,16,3);
	
	cursor: pointer;
}
