body {
	font-family: 'PT Sans', sans-serif;
}

.section {
	margin: 0 auto;
}

.container {
	text-align: center;
	padding: 1em;
	background-color: #ddd;
}

.container.account {
	background: url('background2.jpg') no-repeat center center fixed; 
	background-size: cover;
	border: 1px solid #ddd;
}
