<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="../../static/css/account.css">
	<link rel="stylesheet" href="../../static/css/account_form.css">
	
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/js/account.js"></script>
</head>

<body>
	<div class="section">
		<div class="container header">
			<img id="logo" src="../../static/img/logo.png"><span style="position:absolute; right:30px;"> Welcome {{ user.username }} (<a href="/logout">Logout</a> | <a id="settings" onclick="settings()">Settings</a>)</span>
		</div>
	</div>
	<div class="section">
	
		<div class="settings">
			<p>Settings</p>
			<div id="current_settings">
				<span>Current Settings:</span>
				{% load account_filters %}
				<span id="parse">{{ user|get_settings }}</span>
			</div>
			<form action="savesettings" method="POST" id="settings_form"> {% csrf_token %}
				{{ settings_form.as_ul }}
				<button type="submit">Save</button>
			</form>
		</div>
	
		<div class="container">
			<div class="tip">
				{% load account_filters %}
				{% totd user as e %}
				{% if e != None %}
					<li class="title" id="{{ e.id }}">{{ e.title }}</li>
					<li class="category">{{ e.category }}</li>
					<li>{{ e.age_group }}</li>
					<span id="tip_of_the_day" class="tip_body">
						{{ e.tip }}
					</span>
					<p>Rating: {{ e.rating }}</p>
				{% else %}
					<span id="tip_of_the_day">Sorry, we are working on getting you more tips!</span>
				{% endif %}
				<span id="rated" style="display:none;">{{ user|rated }}</span>
				<div class="control">
					<li id="dislike" onclick="dislike();"></li>
					<li id="favorite" onclick="favorite();"></li>
					<li id="like" onclick="like();"></li>
				</div>
			</div>
			
			<div class="body_content">
				<div class="extend">
					{% include 'add_tips.html' %}
					{% include 'favorites.html' %}
					{% include 'my_tips.html' %}
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		linkLoader();
		correctControls();
		current_settings();
	</script>
</body>
</html>
