<div class="content favorites">
	<p>Favorites</p>
	{% load account_filters %}
	{% for e in user|get_user_favorites %}
		<ul>
			<li>{{ e.title }}<span class="rate">rating: {{ e.rating }}</span></li>
			<li>{{ e.category }} : {{ e.age_group }}
			<li class="tip_body">{{ e.tip }}</li>
		</ul>
	{% empty %}
		<span id="nofavs">You have no favorites</span>
	{% endfor %}
</div>