<div class="content mytips">
	<p>My Tips</p>	
	{% load account_filters %}
	{% for e in user|get_user_tips %}
		<ul>
			<li>{{ e.title }}<span class="rate">rating: {{ e.rating }}</span></li>
			<li>{{ e.category }} : {{ e.age_group }}
			<li class="tip_body">{{ e.tip }}</li>
		</ul>
	{% empty %}
		<span id="nottips">You have no tips :(</span>
	{% endfor %}
	
</div>