<form action="login" method="POST" id="login"> {% csrf_token %}
    <div id="login_form">
        {{ form_log.as_ul }}
        <li><button class="form-btn" type="submit">Login</button></li>
    </div>
</form>
