<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="../../static/css/main.css">
	<link rel="stylesheet" href="../../static/css/form.css">
	<link rel="stylesheet" href="../../static/css/footer.css">
	
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="section">
		<div class="container title">
			<img id="logo" src="../../static/img/logo.png">
		</div>
	</div>
	<div class="section">
		<div class="container account">
			<form action="login" method="POST" id="login"> {% csrf_token %}
			    <div id="login_form">
			        {{ form_log.as_ul }}
			        <li><button class="form-btn" type="submit">Login</button></li>
			    </div>
			</form>
		</div>
	</div>
	{% include "footer.html" %}
</body>