<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="../../static/css/main.css">
	<link rel="stylesheet" href="../../static/css/form.css">
	<link rel="stylesheet" href="../../static/css/footer.css">
	
	<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="section">
		<div class="container title">
			<img id="logo" src="../../static/img/logo.png">
		</div>
	</div>
	<div class="section">
		<div class="container account">
			<span>LOGIN</span>
		    {% include "login_form.html" %}
			<span>CREATE AN ACCOUNT</span>
		    {% include "registration_form.html" %}
		</div>
	</div>
	<div class="section">
		<div class="container desc">
			<table>
				<tr>
					<td id="slogan">Helping Parents Help Each Other</td>
				</tr>
				<tr>
					<td>
						<span class="content_title">Get Connected!</span>
						<div class="content_body">
						We know how your time is valuable to you, ESPECIALLY with a new born to take care of. Let us connect you with other parents that understand what you are going through! ToddLearn will allow you to share your knowledge with parents who will/are going through what you are going through. It will also connect you with the knowledge base that can answer many questions you might have. 
						</div>
						
						<span class="content_title">Easy access to Knowledge and Experience!</span>
						<div class="content_body">
						We know how hard it is to sit down and find the time to peruse the internet for information about your child. So we will bring the information to you!!
						<br><br>
						You will have access to thousands of other parents out there that will be sharing their findings, knowledge, and experience, AND ITS ALL AT YOUR FINGER TIPS!
						</div>
						<span class="content_title">Easy and Simple!</span>
					</td>
				</tr>
				<tr class="last">
					<td>
						<ul>
							<li>Read random tips</li>
							<li>Easily add tips</li>
							<li>Like/Dislike tips</li>
							<li>Save tips as your favorites</li>
							<li>Keep track of how your shared tips are doing</li>
							<li>Add links to outside source</li>
					</td>
				</tr>
			</table>
		</div>
	</div>
	{% include "footer.html" %}
</body>
</html>
