<form action="register" method="POST" id="logout"> {% csrf_token %}
    <div id="registration_form">
        {{ form_reg.as_ul }}
        {{ form_reg_contact.as_ul }}
        <li><button class="form-btn" type="submit">Register</button></li>
    </div>
</form>
