body {
	font-family: 'PT Sans', sans-serif;
}

.section {
	margin: 0 auto;
}

.container {
	text-align: center;
	padding: 1em;
}

.container.account {
	background: url('../img/background.gif') repeat center center fixed; 
}

.container.account span {
	display: block;
	width: 400px;
	margin: .5em auto;
	
	background-color: white;
	border: 1px solid black;
}

.container.desc {
	background-color: #444;
	padding: 0;
}


#logo {
	width: 80%;
	height: auto;
}

table {
/* 	color: #73D9DD; */
	color: white;
	width: 100%;
	font-size: 2em;
	font-family: 'Amatic SC', cursive;
}

td {
	text-align: left;
	margin: 0;
}

#slogan {
	font-size: 3em;
	text-align: center;
	color: orange;
}

.content_title {
	display: block;
	position: relative;
	font-size: 1.5em;
	text-align: right;
	padding: 0 1em;
	margin: 10px 0;
	color: rgba(0,109,142,1);
	font-family: 'Shadows Into Light', cursive;
	
	background: url('../img/background2.jpg') repeat center center fixed;
	letter-spacing: 3px;
}

.content_title:nth-child(odd) {
	text-align: left;
	color: #F24C22;
}

.content_body {
	padding: 0 1em;
}

.last {
	background-color: #FFE1ED;
	color: black;
}